Options +FollowSymLinks
#IndexIgnore */*
RewriteEngine on

#RewriteBase /

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

AuthName "Protected Area"
AuthType Basic
AuthUserFile D:\htdocs\melbourne-tutor\trunk\multisite\.htpasswd
require valid-user